/*

## example use

### invert image colors

<html>
  <img class="darkmode-invert" src="path/to/image.svg">
</html>

### invert colors in <pre>

<style>
  pre {
    color: var(--bg);
    background-color: var(--fg);
  }
</style>

*/

/* light mode */
:root { --fg: black; --bg: white; }

/* dark mode */
@media screen {
  @media (prefers-color-scheme: dark) { 
    :root { --fg: white; --bg: black; } 
    .darkmode-invert {
      filter: invert();
    }
  }
  /* darkreader extension */
  :root[data-darkreader-mode="dynamic"] {
    --fg: white; --bg: black;
  }
  :root[data-darkreader-mode="dynamic"] .darkmode-invert {
    filter: invert();
  }
}
